## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [3]:
import os
import numpy as np
import pandas as pd

In [10]:
?pd.read_csv

In [5]:
# 設定 data_path
dir_data = './data/'

In [6]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

#### 參考資料:
https://ithelp.ithome.com.tw/articles/10193421
https://blog.csdn.net/brucewong0516/article/details/81782312

In [7]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [15]:
app_train.axes

[RangeIndex(start=0, stop=307511, step=1),
 Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
        'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
        'AMT_CREDIT', 'AMT_ANNUITY',
        ...
        'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
        'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
        'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
        'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
        'AMT_REQ_CREDIT_BUREAU_YEAR'],
       dtype='object', length=122)]

#### 截取部分資料

In [23]:
app_train.loc[1:100,['SK_ID_CURR','CODE_GENDER']]

     SK_ID_CURR CODE_GENDER
1        100003           F
2        100004           M
3        100006           F
4        100007           M
5        100008           M
6        100009           F
7        100010           M
8        100011           F
9        100012           M
10       100014           F
11       100015           F
12       100016           F
13       100017           M
14       100018           F
15       100019           M
16       100020           M
17       100021           F
18       100022           F
19       100023           F
20       100024           M
21       100025           F
22       100026           F
23       100027           F
24       100029           M
25       100030           F
26       100031           F
27       100032           M
28       100033           M
29       100034           M
30       100035           F
..          ...         ...
71       100083           M
72       100084           M
73       100085           M
74       100086           F
75       100087           F
76       100088           F
77       100089           M
78       100093           F
79       100094           F
80       100095           F
81       100096           F
82       100097           M
83       100098           M
84       100099           F
85       100100           M
86       100101           F
87       100102           F
88       100103           F
89       100104           F
90       100105           F
91       100108           F
92       100110           M
93       100111           F
94       100112           M
95       100113           M
96       100114           F
97       100115           F
98       100116           F
99       100118           F
100      100119           F

[100 rows x 2 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子